html {
  font-size: 10px;
}
body {
  background: #3498db;
  font-family: "Open sans", "Tahoma", "Verdana", sans-serif;
}
.center_wrapper {
  width: 320px;
  margin: 0 auto;
  color: #1d2631;
}
.deal {
  background-image: linear-gradient(175deg, #ffffff 80%, #f2f2f2 20%);
  padding: 35px 25px 60px 25px;
  text-align: center;
}
.section_title {
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 24px;
  line-height: normal;
  color: #283645;
}
.slider_pagination {
  text-align: center;
}
.slider_pagination a {
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  margin-right: 15px;
  border-radius: 50%;
  background: #b5b9be;
  text-indent: -9999px;
}
.slider_pagination a.active {
  border: 3px solid #1d2631;
  background: transparent;
}
.list {
  list-style: none;
}
/* Рамки в меню */
/* Цвет меню */
/* Benefits border */
/* Pagination */
.header {
  background: url("../img/header_background.jpg") no-repeat;
}
.logo {
  display: inline-block;
  width: 80px;
  height: 30px;
  background: url("../img/Pink-logo-1.png") no-repeat;
  text-indent: -9999px;
}
.menu__title {
  font-weight: lighter;
  font-size: 24px;
  line-height: normal;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.menu__logo_wrapper {
  padding: 10px 6%;
  background: url("../img/menu-background.png");
}
.menu__list_wrapper {
  position: relative;
  float: right;
}
.menu__list {
  position: absolute;
  width: 100%;
  display: none;
  top: 0;
  padding: 0;
}
.menu__list li:first-child {
  border-top: 0;
}
.menu__list li {
  border-bottom: 1px solid #000000;
  border-top: 1px solid #485460;
  text-align: center;
  background: #283645;
  list-style: none;
}
.menu__list li a {
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}
.menu_btn {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 25px;
  line-height: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-indent: -9999px;
}
.menu_btn > span {
  display: inline-block;
  vertical-align: bottom;
  width: 100%;
  height: .3rem;
  background: #fff;
  border-radius: .2rem;
  position: relative;
  transition: background .3s .5s;
}
.menu_btn > span:before,
.menu_btn > span:after {
  width: 100%;
  height: .3rem;
  background: #fff;
  border-radius: .2rem;
  position: absolute;
  left: 0;
  content: '';
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  transition: top .3s .6s, -webkit-transform .3s;
  transition: top .3s .6s, transform .3s;
}
.menu_btn > span:before {
  top: 1rem;
}
.menu_btn > span:after {
  top: -1rem;
}
.menu_btn--close > span {
  transition: background .3s 0;
  background: transparent;
}
.menu_btn--close > span:before,
.menu_btn--close > span:after {
  transition: top .3s, -webkit-transform .3s .5s;
  transition: top .3s, transform .3s .5s;
  top: 0;
}
.menu_btn--close > span:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
          transform: rotate3d(0, 0, 1, 45deg);
}
.menu_btn--close > span:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
          transform: rotate3d(0, 0, 1, -45deg);
}
.download {
  padding: 25px 25px;
  background: #1d2631;
  text-align: center;
}
.download__title_link {
  display: block;
  margin-bottom: 25px;
  border: 3px solid #ffffff;
  border-radius: 5em;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 1.8em;
  line-height: 1.8em;
  color: #ffffff;
  text-transform: none;
  text-decoration: none;
}
.download__link {
  display: inline-block;
  vertical-align: bottom;
  width: 48px;
  height: 60px;
  margin-right: 30px;
  text-indent: -9999px;
  background: url("../img/os_sprite.png") no-repeat;
}
.download__link--android {
  background-position: -80px;
}
.download__link--windows {
  background-position: -159px;
  margin-right: 0;
}
.download__desc {
  margin-top: 20px;
  font-weight: lighter;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
.benefits {
  background: #f2f2f2;
  padding: 0 20px;
  text-align: center;
}
.benefits__item {
  margin-bottom: 25px;
}
.benefits__item p {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  margin-top: 0;
}
.benefits__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 15px;
}
.sliders {
  text-align: center;
  overflow: hidden;
}
.slider--review {
  background: #ffffff;
  padding-top: 50px;
  padding-bottom: 30px;
}
.slider--review__caption {
  width: 280px;
  margin: 0 auto;
}
.slider--review__caption p {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  margin-bottom: 25px;
}
.slider--review__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}
.slider--benefits {
  padding-top: 85px;
  padding-bottom: 50px;
  text-align: left;
  background-image: linear-gradient(176.5deg, #ffffff 5%, #f2f2f2 5%);
}
.slider--benefits .slider__slide {
  width: 275px;
  display: inline-block;
  vertical-align: top;
  border-left: 2px solid #e5e5e5;
}
.slider--benefits .slider__slide:last-of-type {
  border-right: 2px solid #e5e5e5;
}
.slider--benefits__header {
  position: relative;
  background: #283645;
  text-align: center;
  padding: 20px 0;
  overflow: hidden;
}
.slider--benefits__header--hit:before {
  content: "Хит";
  padding: 0 50px;
  left: -40px;
  top: 10px;
  position: absolute;
  -webkit-transform: rotate(-49deg);
      -ms-transform: rotate(-49deg);
          transform: rotate(-49deg);
  background: #d22856;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}
.slider--benefits__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}
.slider--benefits__price {
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}
.slider--benefits__info {
  padding: 15px 0 15px 20px;
  border-bottom: 2px solid #e5e5e5;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #1d2631;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  text-align: left;
}
.slider--benefits__table_wrapper {
  width: 99999px;
  font-size: 0;
  -webkit-transform: translateX(-256px);
      -ms-transform: translateX(-256px);
          transform: translateX(-256px);
  margin-bottom: 35px;
}
.slider--benefits__info--checked {
  background: #ffffff url("../img/checked.png") no-repeat 90%;
}
.slider--benefits__info--unchecked {
  background: #ffffff url("../img/unchecked.png") no-repeat 90%;
}
.contacts {
  position: relative;
  padding-top: 40px;
  padding-bottom: 5px;
  text-align: center;
  background: #ffffff;
}
.contacts:before,
.contacts:after {
  content: '';
  position: absolute;
  width: 50%;
  height: 70px;
  bottom: -70px;
}
.contacts:before {
  left: 0;
  background-image: linear-gradient(-345deg, transparent 50%, #ffffff 50%);
}
.contacts:after {
  right: 0;
  background-image: linear-gradient(345deg, transparent 50%, #ffffff 50%);
}
.contacts__wrapper {
  margin-bottom: 20px;
}
.contacts__wrapper b {
  font-weight: bold;
  font-size: 18px;
  line-height: normal;
  color: #283645;
}
.contacts__title {
  width: 90%;
  margin: 0 auto;
  font-weight: lighter;
  font-size: 24px;
  line-height: normal;
  color: #d22856;
}
* {
  transition-duration: .5s;
}
.more {
  display: none;
}
.mega-block {
  background: url('../img/header_background.jpg') no-repeat;
}
@media (min-width: 480px) and (max-width: 3000px) {
  body {
    background: #ffffff;
  }
  /* HEADER */
  .center_wrapper {
    width: auto;
    max-width: 1200px;
  }
  .header {
    background: url('../img/header_background2.jpg') no-repeat 50% bottom;
    padding: 153px 0;
  }
  .mega_block__image {
    float: right;
    display: none;
  }
  .more {
    display: block;
  }
  .menu__title {
    width: 18%;
    margin-left: 18%;
    display: block;
  }
  .download .menu__title {
    display: none                                           ;
    width: 35%;
    margin: 0 auto;
    float: none;
  }
  .menu {
    padding: 0;
    position: fixed;
    width: 100%;
    top: 0;
  }
  .logo {
    background: url("../img/Pink-logo-2@1x.png") no-repeat;
    width: 200px;
    height: 45px;
  }
  .download {
    width: 40%;
    background: transparent;
    float: left;
    padding: 0;
    margin-left: 6%;
  }
  .download__title_link {
    max-width: 275px;
    margin: auto;
    margin-bottom: 25px;
  }
  /* THE END */
  /* Benefits */
  .benefits img {
    display: none;
  }
  /* The end */
  /* Research */
  .research {
    background: #ffffff;
  }
  .research img {
    float: left;
  }
  .research__title {
    font-size: 20px;
    font-weight: bold;
  }
  .research__info {
    float: right;
    width: 50%;
  }
  /* The end */
  /* slider--benefits */
  .slider--benefits {
    background: transparent;
  }
  .slider--benefits__info {
    color: transparent;
  }
  .slider--benefits__info {
    background-position: 50% ;
  }
  .slider--benefits__table_wrapper {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  .slider--benefits__table_wrapper {
    width: auto;
  }
  .slider--benefits .slider__slide {
    width: 33%;
  }
  /* The end */
  /* Deal */
  .deal {
    background-image: linear-gradient(177deg, #ffffff 75%, #f2f2f2 25%);
  }
  /* The end */
}
