@font-face {
  font-family: "Gotham";
  src: url("../css/fonts/gotham-rounded-book.otf"), url("../css/fonts/gotham-rounded-book.eot"), url("../css/fonts/gotham-rounded-book.ttf"), url("../css/fonts/gotham-rounded-book.woff"), url("../css/fonts/gotham-rounded-book.svg");
}
html {
  font-size: 10px;
}
body {
  background: #3498db;
}
.center_wrapper {
  width: 320px;
  margin: 0 auto;
  color: #1d2631;
}
.list {
  list-style: none;
}
/* Рамки в меню */
/* Цвет меню */
/* Benefits border */
/* Pagination */
.logo {
  font: normal 32px / 39px "Gotham";
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-indent: -9999px;
}
.menu {
  background: url('../img/header_background.jpg') no-repeat;
}
.menu__title {
  font: lighter 2.4em "Open sans", "Tahoma", "Verdana", sans-serif;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.menu__logo_wrapper {
  padding: 10px 20px;
  background: url("../img/menu-background.png");
}
.menu__list_wrapper {
  position: relative;
  float: right;
}
.menu__list {
  position: absolute;
  width: 100%;
  display: none;
  top: 0;
  padding: 0;
}
.menu__list li:first-child {
  border-top: 0;
}
.menu__list li {
  border-bottom: 1px solid #000000;
  border-top: 1px solid #485460;
  text-align: center;
  background: #283645;
  list-style: none;
}
.menu__list li a {
  font: bold 18px / 32px "Open sans", "Tahoma", "Verdana", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}
.menu_btn {
  display: flex;
  align-items: center;
  width: 50px;
  height: 3em;
  line-height: 3em;
  user-select: none;
  text-indent: -9999px;
}
.menu_btn > span {
  display: inline-block;
  vertical-align: bottom;
  width: 100%;
  height: .3rem;
  background: #fff;
  border-radius: .2rem;
  position: relative;
  transition: background .3s .5s;
}
.menu_btn > span:before,
.menu_btn > span:after {
  width: 100%;
  height: .3rem;
  background: #fff;
  border-radius: .2rem;
  position: absolute;
  left: 0;
  content: '';
  transform-origin: 50% 50%;
  transition: top .3s .6s, transform .3s;
}
.menu_btn > span:before {
  top: 1rem;
}
.menu_btn > span:after {
  top: -1rem;
}
.menu_btn--close > span {
  transition: background .3s 0;
  background: transparent;
}
.menu_btn--close > span:before,
.menu_btn--close > span:after {
  transition: top .3s, transform .3s .5s;
  top: 0;
}
.menu_btn--close > span:before {
  transform: rotate3d(0, 0, 1, 45deg);
}
.menu_btn--close > span:after {
  transform: rotate3d(0, 0, 1, -45deg);
}
.download {
  padding: 25px 25px;
  background: #1d2631;
  text-align: center;
}
.download__title_link {
  display: block;
  margin-bottom: 25px;
  border: 3px solid #ffffff;
  border-radius: 5em;
  padding: 10px 30px;
  font: bold 1.8em / 1.8em "Open sans", "Tahoma", "Verdana", sans-serif;
  color: #ffffff;
  text-transform: none;
  text-decoration: none;
}
.download__link {
  display: inline-block;
  vertical-align: bottom;
  width: 48px;
  height: 60px;
  margin-right: 30px;
  text-indent: -9999px;
  background: url("../img/os_sprite.png") no-repeat;
}
.download__link--iphone {
  background-position: ;
}
.download__link--android {
  background-position: -80px;
}
.download__link--windows {
  background-position: -159px;
  margin-right: 0;
}
.download__desc {
  margin-top: 20px;
  font: lighter 14px / 24px "Open sans", "Tahoma", "Verdana", sans-serif;
  color: #ffffff;
}
.benefits {
  background: #f2f2f2;
  padding: 0 20px;
  text-align: center;
}
.benefits__item {
  margin-bottom: 25px;
}
.benefits__item p {
  font: normal 14px / 24px "Open sans", "Tahoma", "Verdana", sans-serif;
  color: #283645;
  margin-top: 0;
}
.benefits__title {
  font: bold 1.8em / 2.4em "Open sans", "Tahoma", "Verdana", sans-serif;
  color: #000000;
}
.sliders {
  text-align: center;
  overflow: hidden;
}
/*
        Review slider
*/
.slider--review {
  background: #ffffff;
  padding-top: 50px;
  padding-bottom: 30px;
}
.slider--review__caption {
  width: 280px;
  margin: 0 auto;
}
.slider--review__caption p {
  font: normal 14px / 30px "Open sans", "Tahoma", "Verdana", sans-serif;
  color: #283645;
  margin-bottom: 25px;
}
.slider--review__title {
  font: bold 18px / 30px "Open sans", "Tahoma", "Verdana", sans-serif;
  color: #000000;
}
/* Section end */
/*
        Benefits slider
*/
.slider--benefits {
  padding-top: 85px;
  padding-bottom: 50px;
  text-align: left;
  background-image: linear-gradient(176.5deg, #ffffff 5%, #f2f2f2 5%);
}
.slider--benefits .slider__slide {
  width: 275px;
  display: inline-block;
  vertical-align: top;
  border-left: 2px solid #e5e5e5;
}
.slider--benefits .slider__slide:last-of-type {
  border-right: 2px solid #e5e5e5;
}
.slider--benefits__header {
  position: relative;
  background: #283645;
  text-align: center;
  padding: 20px 0;
  overflow: hidden;
}
.slider--benefits__header--hit:before {
  content: "Хит";
  padding: 0 50px;
  left: -40px;
  top: 10px;
  position: absolute;
  -webkit-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-49deg);
  background: #d22856;
  font: 400 14px / 30px "Open sans", "Tahoma", "Verdana", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}
.slider--benefits__title {
  font: bold 18px / 30px "Open sans", "Tahoma", "Verdana", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}
.slider--benefits__price {
  font: normal 24px / 30px "Open sans", "Tahoma", "Verdana", sans-serif;
  color: #ffffff;
}
.slider--benefits__info {
  padding: 15px 0 15px 20px;
  border-bottom: 2px solid #e5e5e5;
  font: normal 14px / 30px "Open sans", "Tahoma", "Verdana", sans-serif;
  color: #1d2631;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  text-align: left;
}
.slider--benefits__table_wrapper {
  width: 99999px;
  font-size: 0;
  transform: translateX(-256px);
  margin-bottom: 35px;
}
.slider--benefits__info--checked {
  background: #ffffff url("../img/checked.png") no-repeat 90%;
}
.slider--benefits__info--unchecked {
  background: #ffffff url("../img/unchecked.png") no-repeat 90%;
}
.contacts {
  position: relative;
  padding-top: 40px;
  padding-bottom: 5px;
  text-align: center;
  background: #ffffff;
}
.contacts:before,
.contacts:after {
  content: '';
  position: absolute;
  width: 50%;
  height: 70px;
  bottom: -70px;
}
.contacts:before {
  left: 0;
  background-image: linear-gradient(-345deg, transparent 50%, #ffffff 50%);
}
.contacts:after {
  right: 0;
  background-image: linear-gradient(345deg, transparent 50%, #ffffff 50%);
}
.contacts__wrapper {
  margin-bottom: 20px;
}
.contacts__wrapper b {
  font: bold 18px / normal "Open sans", "Tahoma", "Verdana", sans-serif;
  color: #283645;
}
.contacts__title {
  width: 90%;
  margin: 0 auto;
  font: lighter 24px / normal "Open sans", "Tahoma", "Verdana", sans-serif;
  color: #d22856;
}
.deal {
  background-image: linear-gradient(175deg, #ffffff 80%, #f2f2f2 20%);
  padding: 35px 25px 60px 25px;
  text-align: center;
}
.section_title {
  margin-bottom: 30px;
  font: normal 24px / normal "Open sans", "Tahoma", "Verdana", sans-serif;
  color: #283645;
}
.slider_pagination {
  text-align: center;
}
.slider_pagination a {
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  margin-right: 15px;
  border-radius: 50%;
  background: #b5b9be;
  text-indent: -9999px;
}
.slider_pagination a.active {
  border: 3px solid #1d2631;
  background: transparent;
}
