html {
  font-size: 10px;
}
body {
  font-family: "Open sans", "Tahoma", "Verdana", sans-serif;
}
.center_wrapper {
  width: 320px;
  margin: 0 auto;
}
.map {
  position: relative;
  z-index: 1;
  height: 200px;
}
.map__arrow {
  position: absolute;
  top: 0;
  z-index: 2;
}
#map-canvas {
  height: 100%;
}
.deal {
  background-image: linear-gradient(175deg, #ffffff 80%, #f2f2f2 20%);
  padding: 35px 25px 60px 25px;
  text-align: center;
}
.section_title {
  margin-bottom: 30px;
  font-weight: lighter;
  font-size: 24px;
  line-height: normal;
  color: #283645;
}
.slider_pagination {
  text-align: center;
}
.slider_pagination a {
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  margin-right: 15px;
  border-radius: 50%;
  background: #b5b9be;
  text-indent: -9999px;
}
.slider_pagination a.active {
  border: 3px solid #1d2631;
  background: transparent;
}
.research {
  background: #ffffff;
  display: none;
  text-align: center;
  padding: 5% 20px;
  font-size: 0;
}
.research p {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}
.research img {
  width: 40%;
  max-width: 290px;
  display: inline-block;
  vertical-align: middle;
}
.research__title {
  font-size: 20px;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}
.research__info {
  display: inline-block;
  vertical-align: middle;
  width: 40%;
  margin-left: 10%;
}
.research__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #d22856;
}
@media (min-width: 600px) and (max-width: 1200px) {
  .center_wrapper {
    width: auto;
    max-width: 1200px;
  }
  .deal {
    padding-bottom: 150px;
    background-image: linear-gradient(177deg, #ffffff 75%, #f2f2f2 25%);
  }
  .section_title {
    font-size: 40px;
    padding: 3%;
    padding-bottom: 0;
    margin: 0;
    padding-top: 0;
  }
  .section_title--width_fix {
    padding: 0 5%;
  }
  .research {
    display: block;
  }
  .map {
    height: 380px;
  }
}
@media (min-width: 1200px) {
  .center_wrapper {
    min-width: 1200px;
    max-width: 1400px;
  }
  .research {
    background: #f2f2f2;
  }
  .research p {
    font-size: 18px;
  }
  .research__link {
    font-size: 18px;
  }
  .section_title {
    font-size: 50px;
    font-weight: lighter;
  }
  .deal {
    background: #ffffff;
  }
  .research {
    display: block;
  }
}
.list {
  list-style: none;
}
/* Рамки в меню */
/* Цвет меню */
/* Benefits border */
/* Pagination */
.header {
  background: url("../img/header_background.jpg") no-repeat;
}
.menu {
  position: relative;
  box-sizing: border-box;
  padding: 10px 6%;
  background: url("../img/menu-background.png");
  z-index: 100;
}
.menu.active {
  background: #283645;
  border-bottom: 1px solid #000000;
}
.logo {
  display: inline-block;
  width: 80px;
  height: 30px;
  background: url("../img/Pink-logo-1.png") no-repeat;
  text-indent: -9999px;
}
.menu__title {
  font-weight: lighter;
  font-size: 24px;
  line-height: normal;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.menu__logo_wrapper {
  float: left;
}
.menu__list_wrapper {
  position: relative;
  float: right;
}
.menu__list {
  position: absolute;
  width: 100%;
  display: none;
  top: 41px;
  left: 0;
  padding: 0;
}
.menu__list.active {
  display: block;
}
.menu__list li {
  border-bottom: 1px solid #000000;
  border-top: 1px solid #485460;
  text-align: center;
  background: #283645;
  list-style: none;
}
.menu__list li a {
  padding: 10px 0;
  display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}
.menu__list li a:hover {
  color: #d22856;
}
.menu__list li a:active {
  color: rgba(255, 255, 255, 0.5);
}
.menu_btn {
  display: flex;
  align-items: center;
  width: 50px;
  height: 25px;
  line-height: 30px;
  user-select: none;
  text-indent: -9999px;
}
.menu_btn:hover > span,
.menu_btn:hover > span:after,
.menu_btn:hover > span:before {
  background: #d22856;
}
.menu_btn:active > span,
.menu_btn:active > span:after,
.menu_btn:active > span:before {
  background: rgba(210, 40, 86, 0.5);
}
.menu_btn > span {
  display: inline-block;
  vertical-align: bottom;
  width: 100%;
  height: .3rem;
  background: #fff;
  border-radius: .2rem;
  position: relative;
}
.menu_btn > span:before,
.menu_btn > span:after {
  width: 100%;
  height: .3rem;
  background: #fff;
  border-radius: .2rem;
  position: absolute;
  left: 0;
  content: '';
  transform-origin: 50% 50%;
  transition: top .3s .6s, transform .3s;
}
.menu_btn > span:before {
  top: 1rem;
}
.menu_btn > span:after {
  top: -1rem;
}
.menu_btn--close > span {
  transition: background .3s 0;
  background: transparent !important;
}
.menu_btn--close > span:before,
.menu_btn--close > span:after {
  transition: top .3s, transform .3s .5s;
  top: 0;
}
.menu_btn--close > span:before {
  transform: rotate3d(0, 0, 1, 45deg);
}
.menu_btn--close > span:after {
  transform: rotate3d(0, 0, 1, -45deg);
}
@media (min-width: 600px) and (max-width: 1200px) {
  .header {
    background: url('../img/header_background2.jpg') no-repeat 50% bottom;
    padding-bottom: 95px;
    padding-top: 155px;
  }
  .mobile_image {
    display: none;
  }
  .more {
    display: block;
  }
  .menu {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 20px 5%;
  }
  .menu__list {
    top: 76px;
  }
  .menu__list_wrapper {
    padding-top: 15px;
  }
  .logo {
    background: url("../img/Pink-logo-2@1x.png") no-repeat;
    width: 200px;
    height: 45px;
  }
}
@media (min-width: 1200px) {
  .mobile_image {
    display: none;
  }
  .header {
    background: url("../img/header_background3.jpg") no-repeat;
    padding-bottom: 125px;
  }
  .logo {
    background: url("../img/Pink-logo-3-1x.png") no-repeat;
    width: 160px;
    height: 55px;
  }
  .menu.active {
    padding: 30px 125px 30px 125px;
    background: url("../img/menu-background.png");
    border-bottom: 0;
  }
  .menu_btn {
    display: none;
  }
  .menu__list_wrapper {
    width: 80%;
    padding-left: 20px;
  }
  .menu__list {
    position: static;
    display: block;
    text-align: right;
  }
  .menu__list li {
    display: inline-block;
    background: transparent;
    border: none;
    margin-right: 10%;
  }
  .menu__list li:last-child {
    margin-right: 0;
  }
  .menu__list li a {
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
    text-transform: none;
    text-decoration: none;
  }
  .menu__list li a:hover {
    padding-bottom: 3px;
    border-bottom: 3px solid #ffffff;
    color: #ffffff;
  }
  .menu__list li a:active {
    opacity: .5;
    border-color: transparent;
  }
}
@media only screen and (min-resolution: 180dpi) and (max-width: 600px) {
  .header {
    background: url("../img/adaptive/background-1-2x.jpg") no-repeat;
  }
  .logo {
    background: url("../img/adaptive/Pink-logo-2-2x.png");
  }
}
@media only screen and (min-resolution: 270dpi) and (max-width: 600px) {
  .header {
    background: url("../img/adaptive/background-1-3x.jpg") no-repeat;
  }
}
@media only screen and (min-resolution: 180dpi) and (min-width: 600px) {
  .header {
    background: url("../img/adaptive/background-2-2x.jpg") no-repeat;
  }
  .logo {
    width: 290px;
    height: 80px;
    background: url("../img/adaptive/Pink-logo-3-2x.png");
  }
}
.download {
  padding: 25px 25px;
  background: #1d2631;
  text-align: center;
}
.download__title_link {
  display: block;
  margin-bottom: 25px;
  border: 3px solid #ffffff;
  border-radius: 5em;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 1.8em;
  line-height: 1.8em;
  color: #ffffff;
  text-transform: none;
  text-decoration: none;
}
.download__title_link:hover {
  color: #d22856;
  background: #ffffff;
}
.download__title_link:active {
  color: rgba(210, 40, 86, 0.5);
}
.download__link {
  display: inline-block;
  vertical-align: bottom;
  width: 48px;
  height: 60px;
  margin-right: 30px;
  text-indent: -9999px;
}
.download__link--iphone {
  height: 56px;
  background: url("../img/adaptive/apple-logo.svg") no-repeat;
}
.download__link--android {
  background: url("../img/adaptive/android-logo.svg") no-repeat;
  height: 47px;
}
.download__link--windows {
  height: 40px;
  background: url("../img/adaptive/microsoft-logo.svg") no-repeat;
  margin-right: 0;
}
.download__desc {
  margin-top: 20px;
  font-weight: lighter;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
@media (min-width: 600px) and (max-width: 1200px) {
  .download {
    width: 40%;
    background: transparent;
    float: left;
    padding: 0;
    margin-left: 6%;
  }
  .menu__title {
    width: 85%;
    font-size: 40px;
    margin: 20px auto;
    float: left;
    padding-right: 40%;
    padding-left: 10%;
    box-sizing: border-box;
  }
  .download__title_link {
    max-width: 275px;
    margin: auto;
    margin-bottom: 25px;
  }
  .download__desc {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .download {
    width: 30%;
    background: transparent;
    float: left;
    padding: 0;
    margin-left: 10%;
  }
  .download__desc {
    font-size: 18px;
  }
  .menu__title {
    width: 220px;
    margin-left: 16%;
    font-size: 50px;
    margin-top: 115px;
    margin-bottom: 50px;
  }
  .download__title_link {
    margin-bottom: 50px;
    font-size: 21px;
  }
  .download__link {
    margin-bottom: 50px;
  }
}
.benefits {
  background: #f2f2f2;
  padding: 0 20px;
  text-align: center;
}
.benefits__item {
  margin-bottom: 25px;
}
.benefits__item img {
  display: none;
}
.benefits__item p {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  margin-top: 0;
}
.benefits__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 15px;
}
@media (min-width: 600px) and (max-width: 1200px) {
  .benefits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .benefits__text {
    order: 2;
    width: 50%;
  }
  .benefits__image {
    order: 1;
    align-self: flex-start;
    margin-right: 10%;
    margin-top: -100px;
    width: 39%;
  }
  .benefits__item {
    order: 2;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .benefits {
    background-image: linear-gradient(174deg, #ffffff 20%, #f2f2f2 20%);
    padding-top: 30px;
  }
  .benefits__item {
    display: inline-block;
    width: 290px;
    vertical-align: top;
    text-align: center;
    margin-right: 50px;
  }
  .benefits__item:last-child {
    margin-right: 0;
  }
  .benefits__item * {
    display: inline-block;
    vertical-align: top;
  }
  .benefits__item img {
    display: inline;
  }
  .benefits__item p {
    width: 85%;
    font-size: 18px;
  }
  .benefits__title {
    width: 80%;
    margin-top: 20px;
    font-size: 30px;
    line-height: 30px;
  }
  .benefits__image {
    display: none;
  }
}
.sliders {
  text-align: center;
  overflow: hidden;
}
.slider_controls {
  display: none;
}
.slider--review {
  padding-top: 50px;
  padding-bottom: 30px;
  position: relative;
  background: #ffffff;
}
.slider--review__caption {
  width: 280px;
  margin: 0 auto;
}
.slider--review__caption p {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  margin-bottom: 25px;
}
.slider--review__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}
.slider--review__info {
  display: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}
@media (min-width: 600px) and (max-width: 1200px) {
  .slider--review .slider_pagination {
    margin-top: 20px;
  }
  .slider--review__info {
    display: block;
    order: 3;
  }
  .slider--review__caption {
    width: 90%;
    padding: 0 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .slider--review__caption p {
    order: 1;
    display: block;
    font-size: 18px;
  }
  .slider--review__title {
    order: 2;
    width: 100%;
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .sliders {
    padding-top: 70px;
    background: #ffffff;
  }
  .slider--review__caption {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .slider--review__caption p {
    font-size: 18px;
  }
  .slider--review__title {
    order: 2;
    width: 100%;
    font-size: 24px;
  }
  .slider--review__info {
    display: block;
    order: 3;
    font-size: 18px;
  }
  .slider--review .slider_pagination {
    display: none;
  }
  .slider_controls {
    position: absolute;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-indent: -9999px;
    background: url("../img/controls.png") -35px no-repeat;
  }
  .slider_controls--prev {
    left: 200px;
    top: 75px;
    background-position: 5px;
  }
  .slider_controls--next {
    right: 200px;
    top: 75px;
  }
  .slider--review:before {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -40px;
    width: 80px;
    height: 100px;
    background: url("../img/quotes.svg") no-repeat;
  }
}
.slider--benefits {
  padding-top: 85px;
  padding-bottom: 50px;
  text-align: left;
  background-image: linear-gradient(176.5deg, #ffffff 5%, #f2f2f2 5%);
}
.slider--benefits .slider__slide {
  width: 275px;
  display: inline-block;
  vertical-align: top;
  border-left: 2px solid #e5e5e5;
}
.slider--benefits .slider__slide:last-of-type {
  border-right: 2px solid #e5e5e5;
}
.slider--benefits__header {
  position: relative;
  background: #283645;
  text-align: center;
  padding: 20px 0;
  overflow: hidden;
}
.slider--benefits__header--hit:before {
  content: "Хит";
  padding: 0 50px;
  left: -40px;
  top: 10px;
  position: absolute;
  transform: rotate(-49deg);
  background: #d22856;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}
.slider--benefits__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}
.slider--benefits__price {
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}
.slider--benefits__info {
  padding: 15px 0 15px 20px;
  border-bottom: 2px solid #e5e5e5;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #1d2631;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  text-align: left;
}
.slider--benefits__table_wrapper {
  width: 99999px;
  font-size: 0;
  transform: translateX(-256px);
  margin-bottom: 35px;
}
.slider--benefits__info--checked {
  background: #ffffff url("../img/adaptive/yes.svg") no-repeat 90%;
}
.slider--benefits__info--unchecked {
  background: #ffffff url("../img/adaptive/no.svg") no-repeat 90%;
}
.slider--benefits .slider__slide--flters {
  display: none;
}
@media (min-width: 600px) and (max-width: 1200px) {
  .slider--benefits {
    padding: 10% 5%;
    background-image: linear-gradient(176deg, #ffffff 12%, #f2f2f2 5%);
  }
  .slider--benefits__title {
    font-size: 16px;
  }
  .slider--benefits__price {
    font-size: 18px;
  }
  .slider--benefits .slider__slide--flters {
    display: inline-block;
  }
  .slider--benefits .slider__slide {
    vertical-align: bottom;
    width: 24%;
  }
  .slider--benefits__info {
    text-indent: -99999px;
  }
  .slider__slide--flters {
    display: block;
  }
  .slider--benefits__info--unhidden {
    display: block;
    background-image: none;
    text-indent: 0;
  }
  .slider--benefits__info--unhidden:first-child {
    border-top: 2px solid #e5e5e5;
  }
  .slider--benefits .slider_pagination {
    display: none;
  }
  .slider--benefits__info {
    background-position: 50% ;
  }
  .slider--benefits__table_wrapper {
    transform: translateX(0);
    margin-bottom: 0;
  }
  .slider--benefits__table_wrapper {
    width: auto;
  }
}
@media (min-width: 1200px) {
  .slider--benefits {
    padding: 10% 5%;
    padding-bottom: 5%;
    background-image: linear-gradient(177deg, #ffffff 12%, #f2f2f2 5%);
  }
  .slider--benefits .slider__slide--flters {
    display: inline-block;
  }
  .slider--benefits .slider__slide {
    vertical-align: bottom;
    width: 24%;
  }
  .slider--benefits__info {
    text-indent: -99999px;
  }
  .slider--benefits__info--unhidden {
    font-size: 18px;
  }
  .slider__slide--flters {
    display: block;
  }
  .slider--benefits__info--unhidden {
    display: block;
    background-image: none;
    text-indent: 0;
  }
  .slider--benefits__info--unhidden:first-child {
    border-top: 2px solid #e5e5e5;
  }
  .slider--benefits .slider_pagination {
    display: none;
  }
  .slider--benefits__info {
    background-position: 50% ;
  }
  .slider--benefits__table_wrapper {
    transform: translateX(0);
  }
  .slider--benefits__table_wrapper {
    width: auto;
  }
}
.contacts {
  position: relative;
  padding-top: 40px;
  padding-bottom: 5px;
  text-align: center;
  background: #ffffff;
}
.contacts:before {
  left: 0;
  background-image: linear-gradient(-345deg, transparent 50%, #ffffff 50%);
}
.contacts:after {
  right: 0;
  background-image: linear-gradient(345deg, transparent 50%, #ffffff 50%);
}
.contacts__wrapper {
  margin-bottom: 20px;
}
.contacts__wrapper b {
  font-weight: bold;
  font-size: 18px;
  line-height: normal;
  color: #283645;
}
.contacts__title {
  width: 90%;
  margin: 0 auto;
  font-weight: lighter;
  font-size: 24px;
  line-height: normal;
  color: #d22856;
}
.contacts__title a {
  font-weight: lighter;
  font-size: 24px;
  line-height: normal;
  color: #d22856;
  text-transform: none;
  text-decoration: none;
}
.contacts__title a:hover {
  text-decoration: underline;
  color: #283645;
}
.contacts__title a:active {
  text-decoration: none;
  color: rgba(40, 54, 69, 0.5);
}
@media (min-width: 600px) and (max-width: 1200px) {
  .contacts {
    font-size: 0;
  }
  .contacts__wrapper {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .contacts {
    font-size: 0;
  }
  .map {
    height: 520px;
  }
  .contacts:before {
    left: 0;
    background-image: linear-gradient(-355deg, transparent 50%, #ffffff 50%);
  }
  .contacts:after {
    right: 0;
    background-image: linear-gradient(355deg, transparent 50%, #ffffff 50%);
  }
  .contacts__info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .section_title--contacts {
    width: 100%;
  }
  .contacts__wrapper {
    width: 33%;
    margin-bottom: 40px;
  }
  .contacts__wrapper:nth-child(1) {
    order: 1;
  }
  .contacts__wrapper:nth-child(2) {
    order: 3;
  }
  .contacts__wrapper:last-child {
    order: 2;
  }
}
.footer {
  display: none;
  padding: 25px 3%;
  background: #ffffff;
}
.footer__logo {
  width: 33%;
  margin-right: 1%;
}
.social {
  width: 33%;
  text-align: center;
}
.social a {
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  padding: 15px;
  border: 3px solid #e9ebec;
  color: red;
  text-align: center;
  margin-right: 1%;
}
.social a:hover {
  border-color: #283645;
}
.social a:active {
  opacity: 0.7;
}
.social a img {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: top;
}
.footer__copyright {
  width: 33%;
  margin-top: 12px;
  text-align: right;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #283645;
}
.footer__copyright * {
  display: inline-block;
  vertical-align: middle;
}
.footer__copyright span {
  margin-right: 5px;
}
.footer__copyright-item {
  margin-right: 5px;
}
.footer__copyright-item:last-child {
  margin-right: 0;
}
@media (min-width: 600px) and (max-width: 1200px) {
  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .social {
    margin: 0 2%;
    text-align: center;
  }
}
