
.center () {
  text-align: center;
}

.indent() {
  text-indent: -9999px;
}

.font (@weight, @fz, @lh, @color) {
  font-weight: @weight;
  font-size: @fz;
  line-height: @lh;
  color: @color;
}

.font (@weight, @fz, @lh, @color, @transform, @decoration) {
  font-weight: @weight;
  font-size: @fz;
  line-height: @lh;
  color: @color;
  text-transform: @transform;
  text-decoration: @decoration;
}