
.center_wrapper { 
  width: 320px;
  margin: 0 auto;
  color: @deep_blue;
}

.deal {
  background-image: linear-gradient(175deg, @white 80%, @gray 20%);
  padding: 35px 25px 60px 25px;
  .center();
}

.section_title {
  margin-bottom: 30px;
  .font(normal, 24px, normal, @menu_blue);
}

.slider_pagination {
  .center();
}

.slider_pagination a{
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  margin-right: 15px;
  border-radius: 50%;
  background: @gray3;
  .indent()
}

.slider_pagination a.active {
  border: 3px solid @deep_blue;
  background: transparent;
}