@import url("variables.less");
@font-face {
	font-family: "Gotham";
	src: url("../css/fonts/gotham-rounded-book.otf");
}


.center_wrapper { 
	width: 280px;
	margin: 0 auto;
	color: @dark_color;
}

.menu {
	background: url('../img/header_background.jpg') no-repeat;
	min-height: 500px;
}

.logo a {
	color: @white;
	font: 32px "Gotham";
}  