
.benefits {
  background: @gray;
  padding: 0 20px;
  .center();
}

.benefits__item {
  margin-bottom: 25px;
}

.benefits__item p {
  .font(normal, 14px, 24px, @menu_blue);
  margin-top: 0;
}

.benefits__title {
  .font(bold, 18px, 24px, @black);
  margin-bottom: 15px;
}