
.sliders {
  .center();
  overflow: hidden;
}

.slider--review {
  background: @white;
  padding-top: 50px;
  padding-bottom: 30px;
}

.slider--review__caption {
  width: 280px;
  margin: 0 auto;
}

.slider--review__caption p {
  .font(normal, 14px, 30px, @menu_blue);
  margin-bottom: 25px;
}

.slider--review__title {
  .font(bold, 18px, 30px, @black);
}

.slider--review__info {
  display: none;
  .font(normal, 14px, 30px, @menu_blue);
}

@media(min-width: 480px) and (max-width: 1200px) {
  .slider--review__info {
    display: block;
  }
}